formation-n8n-agents-ia-main/agent calendar.json
{
  "name": "agent calendar",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Tu es un assistant qui me permet de gérer mes mails et mon calendrier. La date du jour est {{ $now.setZone(\"Africa/Douala\").format(\"dd/MM/yyyy HH:mm\") }}. Mon fuseau horaire est Africa/Douala."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1200,
        -256
      ],
      "id": "cc82b128-b6e5-4641-af17-26cb29f8673f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1632,
        -272
      ],
      "id": "f530dfcf-3851-4111-b548-105f989ca11b",
      "name": "When chat message received",
      "webhookId": "9167350c-484a-4fcd-a2ab-5f9342490dae"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1136,
        64
      ],
      "id": "6f71c326-4439-4f78-beed-b9b407425a46",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "www.adriensani@gmail.com",
          "mode": "list",
          "cachedResultName": "www.adriensani@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -240,
        16
      ],
      "id": "06541a24-e303-4db6-830d-f78cac90e742",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CPhxTLb7Y4z17qua",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "www.adriensani@gmail.com",
          "mode": "list",
          "cachedResultName": "www.adriensani@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -752,
        32
      ],
      "id": "c7d710dd-3d3d-471f-a958-2174edcafb4d",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CPhxTLb7Y4z17qua",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "www.adriensani@gmail.com",
          "mode": "list",
          "cachedResultName": "www.adriensani@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -624,
        32
      ],
      "id": "1d2738ac-3744-4042-a316-6a55ce991320",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CPhxTLb7Y4z17qua",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "www.adriensani@gmail.com",
          "mode": "list",
          "cachedResultName": "www.adriensani@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -384,
        16
      ],
      "id": "50283ab1-e46c-4d66-b377-63d7c02c611f",
      "name": "Delete Event ",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CPhxTLb7Y4z17qua",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "adriensani237@gmail.com",
          "mode": "list",
          "cachedResultName": "adriensani237@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -496,
        16
      ],
      "id": "c8163027-ec70-411c-abd4-abb4ca9bc319",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CPhxTLb7Y4z17qua",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "height": 272,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -80
      ],
      "typeVersion": 1,
      "id": "42641997-6849-46e0-ab51-b917b6d6d6d2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1296,
        -48
      ],
      "id": "5143a760-e0c3-456c-9b18-d5d620eed8fc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "z0Vx3ys699j2j7Cs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -848,
        -256
      ],
      "id": "14daf7ba-4a33-465f-8df0-a95454190ab8",
      "name": "Send message",
      "webhookId": "24190380-af98-49c8-8254-5bef18be0d70"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 30
  },
  "versionId": "738fbc0d-333a-497f-b238-6707a80f2b8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b4afdc007aac807d98614f49f571d44ed434bb87b19bd0f1dbdf8648bcf9a66"
  },
  "id": "Zqgtn-ieZbfQL6JAfmoRf",
  "tags": []
}